# Задание 1

Город разбит на квадраты и для каждого квадрата известно количество людей, живущих и работающих на территории этого квадрата. Эти данные находятся в файле `data.csv`. Например, на территории квадрата `85881` живет 101 человек и работает 28 человек.

Также город разбит на административные районы, их существенно меньше. Для каждого квадрата известно то, с какими районами он пересекается и по какой части своей площади. Эти данные находятся в файле `area2district.csv`. Например, примерно 38% площади квадрата `91422` составляет район `55`.

От Вас требуется предложить способ (и реализовать его) расчета количества людей, живущих и работающих в каждом административном районе соответственно. Можно считать, что внутри каждого квадрата люди распределены равномерно.

Требования:
   * В каждом районе должно жить и работать целое неотрицательное количество людей
   * Сумма проживающих и работающих жителей города не должна измениться

В данной задаче нет строго критерия оценивания, но важно сделать упор на скорость работы, в частности не рекомендуется пользоваться циклами `for`.

In [2]:
import pandas as pd

df_cell2adm = pd.read_csv('area2district.csv', sep=',')
df_data = pd.read_csv('data.csv', sep=',')

In [3]:
df_cell2adm.head()

   areaid  districtid   percent
0   89012         478  1.000000
1  123048          55  0.984496
2   34536           7  1.000000
3   91422          55  0.380014
4  106142          55  0.912069

In [4]:
df_data.head()

   areaid  home  job
0  144639     1    1
1  146472     1    1
2   18242     2    1
3   85881   101   28
4   27667   136   48

Для начала посчитаем сумму работающих и сидящих дома людей для всех квадратов, чтобы потом сравнить с результатом:

In [5]:
df_data.sum()

areaid    13901796637
home         19160892
job           9111365
dtype: int64

Соединим таблицы квадратов и районов, используя areaid как ключ

In [6]:
df_data_cell = df_data.join(df_cell2adm.set_index('areaid'), on='areaid')

Напишем функцию, которая посчитает количество работающих и сидящих дома людей в серии с учетом процента вхождения квадрата в район

In [7]:
def data_with_percent(data):
    result_home = data['home'] * data['percent']
    result_job = data['job'] * data['percent']
    return pd.Series([sum(result_home), sum(result_job)], index=['result_home', 'result_job'])

Сгруппируем данные по районам и применим функцию, написанную выше

In [8]:
df_group = df_data_cell.groupby(by='districtid').apply(data_with_percent)

In [9]:
df_group

              result_home    result_job
districtid
1            32625.162519  13566.430665
2             3716.605467    535.239616
3            46330.593462  18062.574715
4             3966.771421   1243.848413
5             4833.746494    391.347340
...                   ...           ...
474           5557.526529   1934.038227
476          53653.821433  19837.551282
477         125351.117556  76267.900661
478          12271.933242   4146.642707
480           6073.435007   1853.588929

[443 rows x 2 columns]

In [152]:
df_group.round().sum()

result_home    19160905.0
result_job      9111367.0
dtype: float64

Видим, что если пользоваться таблицей данных после округления, то у нас получается перебор на 13 человек для сидящих дома и на 2 для работающих, как с этим жить, пока непонятно, возможно существуют методы свести эту погрешность к нулю